.loginPage {
  position: absolute;
  padding-top: 7rem;
  filter: blur(0px);
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #fff;
  width: 100%;
  .app_heading {
    font-family: "Aclonica", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    padding: 0.4rem;
  }
  .userInput {
    border: 1px solid #fff;
    border-radius: 15px;
    width: 90%;
    width: 300px;
    padding: 1rem;
  }
  ion-input {
    color: var(--white);
    font-size: larger;
  }
  ion-icon {
    padding: 0.5rem;
  }
  ion-label {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .checkBox {
    padding: 1rem 0rem;
    ion-checkbox {
      --background: transparent;
      --border-color: #fff;
      --background-checked: var(--yellow);
      --border-color-checked: var(--yellow);
      --checkmark-color: var(--white);
      --border-radius: 8px;
      --size: 20px;
      --transition: all 1s ease-in-out;
    }
    .forgot {
      cursor: pointer;
      a {
        text-decoration: none;
        color: var(--white);
        width: 100%;
      }
    }
    .register {
      span {
        cursor: pointer;
      }
    }
  }
  ion-button {
    width: 100%;
    --background: var(--yellow);
  }
}

ion-content.background {
  --background: url(../../../../../assets/images/cups.jpg) 0 0/100% 100% no-repeat;
  // filter: blur(2px);
  position: relative;
  margin: 0 auto;
  overflow: none;
}
