:root {
  --gray: #282c3f;
  --light-gray: #d4d5d9;
  --pink: #ce255c;
  --white:#fff;
  --light-black:#3d4152;
  //common color variable
  --heading-clr: var(--gray);
  --border-clr: var(--light-gray);
  --main-color:var(--pink);
  --white-color:var(--white);
  --text-color:var(--light-black);
}
