// Margin

.mg-0 {
    margin: var(--px-0);
  }
  .mg-2 {
    margin: var(--px-2);
  }
  .mg-3 {
    margin: var(--px-3);
  }
  .mg-4 {
    margin: var(--px-4);
  }
  .mg-6 {
    margin: var(--px-6);
  }
  .mg-8 {
    margin: var(--px-8);
  }
  .mg-10 {
    margin: var(--px-10);
  }
  .mg-12 {
    margin: var(--px-12);
  }
  .mg-14 {
    margin: var(--px-14);
  }
  .mg-16 {
    margin: var(--px-16);
  }
  .mg-18 {
    margin: var(--px-18);
  }
  .mg-20 {
    margin: var(--px-20);
  }
  
  //margin top
  .mgt-0 {
    margin-top: var(--px-0);
  }
  .mgt-2 {
    margin-top: var(--px-2);
  }
  .mgt-4 {
    margin-top: var(--px-4);
  }
  .mgt-6 {
    margin-top: var(--px-6);
  }
  .mgt-8 {
    margin-top: var(--px-8);
  }
  .mgt-10 {
    margin-top: var(--px-10);
  }
  .mgt-12 {
    margin-top: var(--px-12);
  }
  .mgt-14 {
    margin-top: var(--px-14);
  }
  .mgt-16 {
    margin-top: var(--px-16);
  }
  .mgt-18 {
    margin-top: var(--px-18);
  }
  .mgt-20 {
    margin-top: var(--px-20);
  }
  
  // margin bottom
  .mgb-0 {
    margin-bottom: var(--px-0);
  }
  .mgb-2 {
    margin-bottom: var(--px-2);
  }
  .mgb-4 {
    margin-bottom: var(--px-4);
  }
  .mgb-6 {
    margin-bottom: var(--px-6);
  }
  .mgb-8 {
    margin-bottom: var(--px-8);
  }
  .mgb-10 {
    margin-bottom: var(--px-10);
  }
  .mgb-12 {
    margin-bottom: var(--px-12);
  }
  .mgb-14 {
    margin-bottom: var(--px-14);
  }
  .mgb-16 {
    margin-bottom: var(--px-16);
  }
  .mgb-18 {
    margin-bottom: var(--px-18);
  }
  .mgb-20 {
    margin-bottom: var(--px-20);
  }
  
  // margin left
  .mgl-0 {
    margin-left: var(--px-0);
  }
  .mgl-2 {
    margin-left: var(--px-2);
  }
  .mgl-4 {
    margin-left: var(--px-4);
  }
  .mgl-6 {
    margin-left: var(--px-6);
  }
  .mgl-8 {
    margin-left: var(--px-8);
  }
  .mgl-10 {
    margin-left: var(--px-10);
  }
  .mgl-12 {
    margin-left: var(--px-12);
  }
  .mgl-14 {
    margin-left: var(--px-14);
  }
  .mgl-16 {
    margin-left: var(--px-16);
  }
  .mgl-18 {
    margin-left: var(--px-18);
  }
  .mgl-20 {
    margin-left: var(--px-20);
  }
  
  // margin right
  .mgr-0 {
    margin-right: var(--px-0);
  }
  .mgr-2 {
    margin-right: var(--px-2);
  }
  .mgr-4 {
    margin-right: var(--px-4);
  }
  .mgr-6 {
    margin-right: var(--px-6);
  }
  .mgr-8 {
    margin-right: var(--px-8);
  }
  .mgr-10 {
    margin-right: var(--px-10);
  }
  .mgr-12 {
    margin-right: var(--px-12);
  }
  .mgr-14 {
    margin-right: var(--px-14);
  }
  .mgr-16 {
    margin-right: var(--px-16);
  }
  .mgr-18 {
    margin-right: var(--px-18);
  }
  .mgr-20 {
    margin-right: var(--px-20);
  }
  