.pd-0 {
  padding: var(--px-0);
}
.pd-2 {
  padding: var(--px-2);
}
.pd-4 {
  padding: var(--px-4);
}
.pd-6 {
  padding: var(--px-6);
}
.pd-8 {
  padding: var(--px-8);
}
.pd-10 {
  padding: var(--px-10);
}
.pd-12 {
  padding: var(--px-12);
}
.pd-14 {
  padding: var(--px-14);
}
.pd-16 {
  padding: var(--px-16);
}
.pd-18 {
  padding: var(--px-18);
}
.pd-20 {
  padding: var(--px-20);
}
.pd-22 {
  padding: var(--px-22);
}
.pd-24 {
  padding: var(--px-24);
}
.pd-26 {
  padding: var(--px-26);
}
.pd-28 {
  padding: var(--px-28);
}
.pd-30 {
  padding: var(--px-30);
}
.pd-32 {
  padding: var(--px-32);
}
.pd-34 {
  padding: var(--px-34);
}
.pd-36 {
  padding: var(--px-36);
}
.pd-38 {
  padding: var(--px-38);
}
.pd-40 {
  padding: var(--px-40);
}

//padding top
.pdt-0 {
  padding-top: var(--px-0);
}
.pdt-2 {
  padding-top: var(--px-2);
}
.pdt-4 {
  padding-top: var(--px-4);
}
.pdt-6 {
  padding-top: var(--px-6);
}
.pdt-8 {
  padding-top: var(--px-8);
}
.pdt-10 {
  padding-top: var(--px-10);
}
.pdt-12 {
  padding-top: var(--px-12);
}
.pdt-14 {
  padding-top: var(--px-14);
}
.pdt-16 {
  padding-top: var(--px-16);
}
.pdt-18 {
  padding-top: var(--px-18);
}
.pdt-20 {
  padding-top: var(--px-20);
}

//padding bottom

.pdb-0 {
  padding-bottom: var(--px-0);
}
.pdb-2 {
  padding-bottom: var(--px-2);
}
.pdb-4 {
  padding-bottom: var(--px-4);
}
.pdb-6 {
  padding-bottom: var(--px-6);
}
.pdb-8 {
  padding-bottom: var(--px-8);
}
.pdb-10 {
  padding-bottom: var(--px-10);
}
.pdb-12 {
  padding-bottom: var(--px-12);
}
.pdb-14 {
  padding-bottom: var(--px-14);
}
.pdb-16 {
  padding-bottom: var(--px-16);
}
.pdb-18 {
  padding-bottom: var(--px-18);
}
.pdb-20 {
  padding-bottom: var(--px-20);
}

//padding left
.pdl-0 {
  padding-left: var(--px-0);
}
.pdl-2 {
  padding-left: var(--px-2);
}
.pdl-4 {
  padding-left: var(--px-4);
}
.pdl-6 {
  padding-left: var(--px-6);
}
.pdl-8 {
  padding-left: var(--px-8);
}
.pdl-10 {
  padding-left: var(--px-10);
}
.pdl-12 {
  padding-left: var(--px-12);
}
.pdl-14 {
  padding-left: var(--px-14);
}
.pdl-16 {
  padding-left: var(--px-16);
}
.pdl-18 {
  padding-left: var(--px-18);
}
.pdl-20 {
  padding-left: var(--px-20) !important;
}

// padding right

.pdr-0 {
  padding-right: var(--px-0);
}
.pdr-2 {
  padding-right: var(--px-2);
}
.pdr-4 {
  padding-right: var(--px-4);
}
.pdr-6 {
  padding-right: var(--px-6);
}
.pdr-8 {
  padding-right: var(--px-8);
}
.pdr-10 {
  padding-right: var(--px-10);
}
.pdr-12 {
  padding-right: var(--px-12);
}
.pdr-14 {
  padding-right: var(--px-14);
}
.pdr-16 {
  padding-right: var(--px-16);
}
.pdr-18 {
  padding-right: var(--px-18);
}
.pdr-20 {
  padding-right: var(--px-20);
}
