.text-8 {
  font-size: var(--px-8) !important;
}
.text-9 {
  font-size: var(--px-9) !important;
}
.text-10 {
  font-size: var(--px-10) !important;
}
.text-11 {
  font-size: var(--px-11) !important;
}
.text-12 {
  font-size: var(--px-12) !important;
}
.text-13 {
  font-size: var(--px-13) !important;
}
.text-14 {
  font-size: var(--px-14) !important;
}
.text-15 {
  font-size: var(--px-15) !important;
}
.text-16 {
  font-size: var(--px-16) !important;
}
.text-17 {
  font-size: var(--px-17) !important;
}
.text-18 {
  font-size: var(--px-18) !important;
}
.text-19 {
  font-size: var(--px-19) !important;
}
.text-20 {
  font-size: var(--px-20) !important;
}
.text-20 {
  font-size: var(--px-20) !important;
}

.text-21 {
  font-size: var(--px-21) !important;
}

.text-22 {
  font-size: var(--px-22) !important;
}

.text-23 {
  font-size: var(--px-23) !important;
}

.text-24 {
  font-size: var(--px-24) !important;
}

.text-25 {
  font-size: var(--px-25) !important;
}

.text-26 {
  font-size: var(--px-26) !important;
}

.text-27 {
  font-size: var(--px-26) !important;
}

.text-28 {
  font-size: var(--px-27) !important;
}

.text-29 {
  font-size: var(--px-28) !important;
}

.text-30 {
  font-size: var(--px-30) !important;
}

.text-31 {
  font-size: var(--px-31) !important;
}
.text-32 {
  font-size: var(--px-32) !important;
}
.text-33 {
  font-size: var(--px-33) !important;
}
.text-34 {
  font-size: var(--px-34) !important;
}
.text-35 {
  font-size: var(--px-35) !important;
}
.text-36 {
  font-size: var(--px-36) !important;
}
.text-37 {
  font-size: var(--px-37) !important;
}
.text-38 {
  font-size: var(--px-38) !important;
}
.text-39 {
  font-size: var(--px-39) !important;
}
.text-40 {
  font-size: var(--px-40) !important;
}

// Alignment
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Transformation

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-algin-r {
  text-align: right !important;
}

.text-centre {
  text-align: center;
}

.fw-200 {
  font-weight: 200 !important;
}
.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

 
