// Margins
:root {
  --px-0: 0px;
  --px-1: 1px;
  --px-2: 2px;
  --px-3: 3px;
  --px-4: 4px;
  --px-5: 5px;
  --px-6: 6px;
  --px-7: 7px;
  --px-8: 8px;
  --px-9: 9px;
  --px-10: 10px;
  --px-11: 11px;
  --px-12: 12px;
  --px-13: 13px;
  --px-14: 14px;
  --px-15: 15px;
  --px-16: 16px;
  --px-17: 17px;
  --px-18: 18px;
  --px-19: 19px;
  --px-20: 20px;
  --px-21: 21px;
  --px-22: 22px;
  --px-23: 23px;
  --px-24: 24px;
  --px-25: 25px;
  --px-26: 26px;
  --px-27: 27px;
  --px-28: 28px;
  --px-29: 29px;
  --px-30: 30px;
  --px-31: 31px;
  --px-32: 32px;
  --px-33: 33px;
  --px-34: 34px;
  --px-35: 35px;
  --px-36: 36px;
  --px-37: 37px;
  --px-38: 38px;
  --px-39: 39px;
  --px-40: 40px;
  --wd-5: 5%;
  --wd-10: 10%;
  --wd-15: 15%;
  --wd-20: 20%;
  --wd-25: 25%;
  --wd-30: 30%;
  --wd-35: 35%;
  --wd-40: 40%;
  --wd-45: 45%;
  --wd-50: 50%;
  --wd-55: 55%;
  --wd-60: 60%;
  --wd-65: 65%;
  --wd-70: 70%;
  --wd-75: 75%;
  --wd-80: 80%;
  --wd-85: 85%;
  --wd-90: 90%;
  --wd-95: 95%;
  --wd-100: 100%;
}
