.wdp-5 {
  width: var(--wd-5);
}
.wdp-10 {
  width: var(--wd-10);
}
.wdp-15 {
  width: var(--wd-15);
}
.wdp-20 {
  width: var(--wd-20);
}
.wdp-25 {
  width: var(--wd-25);
}
.wdp-30 {
  width: var(--wd-30);
}
.wdp-35 {
  width: var(--wd-35);
}
.wdp-40 {
  width: var(--wd-40);
}
.wdp-45 {
  width: var(--wd-45);
}
.wdp-50 {
  width: var(--wd-50);
}
.wdp-55 {
  width: var(--wd-55);
}
.wdp-60 {
  width: var(--wd-60);
}
.wdp-65 {
  width: var(--wd-65);
}
.wdp-70 {
  width: var(--wd-70);
}
.wdp-75 {
  width: var(--wd-75);
}
.wdp-80 {
  width: var(--wd-80);
}
.wdp-85 {
  width: var(--wd-85);
}
.wdp-90 {
  width: var(--wd-90);
}
.wdp-95 {
  width: var(--wd-95);
}
.wdp-100 {
  width: var(--wd-100);
}
