<ion-card>
  <ion-card-header>
    <ion-card-title>Kiss Ur Cups</ion-card-title>
    <ion-card-subtitle>Login</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-grid>
          <ion-label position="floating">Mobile Number :</ion-label>
          <ion-input placeholder="Enter Mobile Number" type="text" minlength="10" maxlength="10"></ion-input>


          <ion-label position="floating">Password :</ion-label>
          <ion-input placeholder="Enter Password" type="password" minlength="6" maxlength="8"></ion-input>

          <ion-button>Login</ion-button>

      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>