ion-card {
  margin: auto;
  padding: 3rem;
  ion-card-title {
    text-align: center;
  }
  ion-card-subtitle {
    text-align: center;
  }
  ion-input{
    color: #7D3331;
    font-weight: bold;
  }
  ion-button{
    background-color: #7D3331 !important;
  }
}
